<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/lg.png">

    <title>
        Diagnostic Spam - {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}{% endblock stylesheets %}

    <link href="/static/assets/css/fonts.css" rel="stylesheet">
    <link href="/static/assets/css/style.min.css" rel="stylesheet">

</head>
<body style="background-color: #fff;">
    <div class="main-wrapper">

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        {% block content %}{% endblock content %}

    </div>

    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock javascripts %}

</body>
</html>