<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
<script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/js/app.min.js"></script>
<script src="/static/assets/js/app.init.js"></script>
<script src="/static/assets/js/app-style-switcher.js"></script>
<script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/sidebarmenu.js"></script>
<script src="/static/assets/js/custom.min.js"></script>
<script src="/static/assets/extra-libs/toastr/dist/build/toastr.min.js"></script>
<script src="/static/assets/extra-libs/toastr/toastr-init.js"></script>