{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 400 {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="error-title">400</h1>
            <h3 class="text-uppercase error-subtitle">Requête invalide</h3>
            <p class="text-muted mt-4 mb-4">La requête envoyée n'a pas pu être traitée.</p>
            <a href="/" class="btn btn-info btn-rounded waves-effect waves-light mb-5">Retour à l'accueil</a>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
    </script>
{% endblock javascripts %}